<ul class="bottom bottom2">
	<li class="active" onclick="location.href='index.html'">
		<a href="__APP__/home/index/index">
			<img src="__ROOT__/Public/Home/images/sicon1.png" alt="">
			<p>首页</p>
		</a>
	</li>
	<li onclick="location.href='sort.html'">
		<a href="__APP__/home/task/task">
			<img src="__ROOT__/Public/Home/images/icon2.png" alt="">
			<p>我的任务</p>
		</a>
	</li>
	<li onclick="location.href='cart.html'">
		<a href="__APP__/home/cart/cart">
			<img src="__ROOT__/Public/Home/images/icon3.png" alt="">
			<p>购物车</p>
		</a>
	</li>
	<li onclick="location.href='my.html'">
		<a href="__APP__/home/user/index">
			<img src="__ROOT__/Public/Home/images/icon4.png" alt="">
			<p>我的</p>
		</a>
	</li>
</ul>