<extend name="Common/base"/>
<block name="header">

</block>
<block name="position">
<section class="content-header">
	<h1>
		欢迎回来，{$user_base.realname}
		<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"> </a></li>
		<li class="active"></li>
	</ol> 
					
</section>
</block>
<block name="main">
<table id="detail">
	<tr>
		<th width="100px">您的身份是</th>
		<td style="padding-left:10px;">
			<if condition="$user_base.role_id eq -1">总管理员
            <elseif condition="($user_base.role_id eq 0) OR ($role.role_name eq '')"/>未分配角色
            <else/>{$role.role_name}
            </if>
        </td>
	</tr>
	<tr>
		<th width="100px">登录次数</th>
		<td style="padding-left:10px;">{$user_base.login_number}</td>
	</tr>
</table>
</block>
