<extend name="Common/base"/>
<block name="header">
<script>
$(function(){
	$('.admin,.admin-index').addClass('active')
})
</script>
</block>
<block name="position">
<section class="content-header">
	<h1>
		管理员
		<small>管理员列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"> </a></li>
		<li class="active"></li>
	</ol> 
					
</section>
</block>
<block name="main">
<table id="detail" class="list">
	<tr>
		<th>id</th>
		<th>手机号(登录账号)</th>
		<th>姓名</th>
		<th>角色</th>
		<th>店铺</th>
		<th>操作</th>
		<!-- <th>微信</th> -->
	</tr>
	<foreach name="list" item="v">
		<tr>
			<td>{$v.id}</td>
			<td>{$v.phone}</td>
			<td>{$v.realname}</td>
			<td>
				<if condition="$v.role_id eq -1">总平台管理员
				<elseif condition="$v.role_id eq 0"/>暂无权限
				<else/>{$v.role_name}
				</if>
			</td>
			<td>
				<if condition="$v.cat_shop eq 0">总店
				<else/>{$v.seller_name}
				</if>
			</td>
			<td>
				
				<a href="__URL__/update?id={$v.id}">编辑</a>
				<a onclick="return confirm('请确认是否删除？')"  href="__URL__/del?id={$v.id}">删除</a>
			</td>
<!-- 			<td>
				<if condition="$v.openid eq ''">
					未绑定：<a href="javascript:show_ticket('{$v.realname}','{$v.id}')">绑定二维码</a>
				<else/>
					已绑定：<a onclick="return confirm('请确认是否解除？')" href="__URL__/changeGet/tb/admin/id/{$v.id}?openid=">解绑微信</a>
				</if>
			</td> -->
		</tr>
	</foreach>
</table>
</block>
<block name="footer">
<script>
function show_ticket(name,id){
	$.ajax({
		'url':'__APP__/Home/Wx/qrcode?user_id=admin_'+id+'',
		'success':function(res){
			layer.alert('<img style="margin:auto;display: block;width:200px;" src="'+res+'">',{
				  title:name+' 的微信绑定二维码',
				  skin: 'layer-ext-moon',
				  btn: 0	  
			})
		}
	})
	
}
</script>
</block>