
<foreach name="list" item="v">
	<li onclick="location.href='__URL__/ord_detail/id/{$v.id}'">
		<div class="wrap">
			<div class="title"><span class="tit_s">
			<if condition="$v.is_pay eq 1">
				<if condition="$v.ord_is_pre eq 1">待预约
				<elseif condition="$v.ord_is_pre eq 3"/>已预约
				<else/>已支付
				</if>
			<else/>待支付
			</if>
			</span>{$v.name}</div>
			<div class="msg">金额：{$v.ord_money}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<if condition="$v.custom_name neq ''">游客：{$v.custom_name}</if></div>
			<div class="subhead">下单：{$v.pub_time|date='Y-m-d H:i',###}<br/>有效期：2099-99-99 至 2099-99-99</div>
		</div>
	</li>
</foreach>
