<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
<title>提现管理</title>
<link rel="stylesheet" href="__CSS__/reset.css">
<link rel="stylesheet" href="__CSS__/shop.css">
<!-- <script src="__JS__/jquery.min.js"></script> -->

</head>
<body>
<div class="body_wrap">
	<ul class="header clearfix header_2">
		<li class="left">首页</li>
		<li class="center" style="color:#ffb000;width:calc(100% - 190px)">票务查询</li>
		<li class="right">&nbsp;</li>
	</ul>
	<div class="header_height"></div>
	<div style="height:45px;"></div>
	<div class="cash_c clearfix">
		<div class="left">
			本月
		</div>
		<div class="right">
			选择时间
		</div>
	</div>
	<ul class="cash_list">
		<li class="clearfix">
			<div class="left">
				<div class="title">提现<span class="money">￥<span style="font-size:20px;">99.99</span></span></div>
				<div class="subhead">2019-11-11 &nbsp;&nbsp; 66:99:00</div>
			</div>
			<div class="right">
				<div class="but sh">审核中</div>
			</div>
		</li>
		<li class="clearfix">
			<div class="left">
				<div class="title">提现<span class="money">￥<span style="font-size:20px;">99.99</span></span></div>
				<div class="subhead">2019-11-11 &nbsp;&nbsp; 66:99:00</div>
			</div>
			<div class="right">
				<div class="but wc" >已完成</div>
			</div>
		</li>
	</ul>
	<ul class="footer clearfix">
		<li><a href="123"><img src="__IMG__bb_1.png" alt="" style="margin:2px auto 0px">首页</a></li>
		<li><img src="__IMG__shouye_2.png" alt="">播报</li>
		<li><a href="__MODULE__/Order/pre_list"><img src="__IMG__yyy_2x.png" alt="">预约</a></li>
		<li style="color:#feb100"><img src="__IMG__wd_2x.png" alt="" style="margin:2px auto 0px">我的</li>
	</ul>
</div>

</body>
</html>