<extend name="Common/base"/>
<block name="header">
<script>
</script>
</block>
<block name="position">
<section class="content-header">
	<h1>
		会员信息
		<small>会员列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"> </a></li>
		<li class="active"></li>
	</ol> 
					
</section>
</block>
<block name="main">
	<!--<div class="detail">
		<a href="__URL__/edbus" class="btn btn-large btn-update">添加团队</a>
	</div>-->
	<form style="margin-bottom: 10px"id="myform">
		<div id="where" class="clearfix" style="display: inline-block;width:30%">
			<dl>
				<dt style="margin-right: 14px;" >昵称：</dt>
				<dd>
					<input type="text" name="nickname"  value="{$nickname}" style="width: 100px;margin-right: 14px;padding:3px"  placeholder="">
				</dd>
			</dl>
			<dl>
				<dt>电话：</dt>
				<dd>
					<input type="text" name="phone"  value="{$phone}" style="width: 100px;padding:3px" placeholder="">
				</dd>
			</dl>
			<br/>
		</div>
		<button class="btn-groups btn-submit" style="cursor: pointer;display: inline;padding:3px;float: none;width: 60px" onclick="resetAll()" >重置</button>
		<input class="where_submit" type="submit" value="搜索" style="display: inline-block;width: 60px;margin-left: 20px">
	</form>
<table id="detail" class="list"><tr>
	<th colspan="7">
		当前用户总积分：{$score}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		待审核的提现积分： {$cash} 
	</th>
	<tr>
		<th>id</th>
		<th>微信头像</th>
		<th>昵称</th>
		<!--<th>姓名</th>-->
		<th>电话</th>
		<!--<th>生日</th>-->
		
		<th>积分</th>
		<th>操作</th>
		
	</tr>
	<foreach name="list" item="vo">
		<tr>
			<td>{$vo.id}</td>
			<td><img src="{$vo.headimgurl}" alt="" width="46px"></td>
			<td><if condition="$vo.nickname eq ''">未获取<else/>{$vo.nickname}</if></td>
			<!--<td>{$vo.realname}</td>-->
			<td>{$vo.phone}</td>
			<!--<td>{$vo.birthday}</td>-->
			<td>{$vo.score}</td>
			<td>
				<a style="background-color: #3C8DBC; color: white;font-size: 16px;padding: 5px;" href="__APP__/admin/admin/add?id={$vo.id}&&nickName={$vo.nickname}">设置为管理员</a>
				<a style="background-color: #3C8DBC; color: white;font-size: 16px;padding: 5px;" href="__APP__/admin/user/task?user_id={$vo.id}">打卡任务</a>
				<a style="background-color: #3C8DBC; color: white;font-size: 16px;padding: 5px;cursor: pointer" data-id="{$vo.id}" onclick="shenhe(this)">选择组别</a>
			</td>
		</tr>
	</foreach>
</table>
<div id="page">{$page}</div>
</block>
<block name="footer">
<script>
function show_ticket(name,id){
	layer.alert('<img style="margin:auto;display: block;" src="__APP__/Home/Public/ticket?size=6&host=1&content={:U(\'Home/Public/wxBind\')}?id='+id+'">',{
	  title:name+' 的微信绑定二维码',
	  skin: 'layer-ext-moon',
	  btn: 0	  
	})
}
function resetAll() {
    $("#myform").find('input[type=text],select,input[type=hidden]').each(function() {
        $(this).val('');
    });
    $("#work").val(0);
    $("#business").val(0);
    $("#sonbus").val(0);
    $("#status").val(0);
    /*$("input").val("");*/
}
function shenhe(obj){
    var id=$(obj).data('id');
    var html='<form method="post" action="__URL__/usergroup"><div style="margin: 30px 30px 30px 85px"><label>组名:</label>' +
        '<select style="margin-left: 20px" name="group"><foreach name="group" item="v"><option <eq name="v.id" value="$first">selected</eq> value="{$v.id}">{$v.name}</option></foreach></select></div>'+
        '<div style="text-align: center;margin-top: 17px;">' +
		'<input type="hidden" name="id" value="'+id+'"/>' +
        '<input type="submit" value="提&nbsp;&nbsp;&nbsp;交" style="margin-right: 40px;padding: 0px 4px;">' +
        '<input type="reset" value="取&nbsp;&nbsp;&nbsp;消" style="padding: 0px 4px;"></div>' +
        '</from>';
    layer.open({
        type: 1,
        skin: '', //加上边框
        area: ['320px', '180px'], //宽高
        content: html
    });
}
</script>
</block>