<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
<title>门票预订</title>
<link rel="stylesheet" href="__CSS__/reset.css">
<link rel="stylesheet" href="__CSS__/shop.css">
<!-- <script src="__JS__/jquery.min.js"></script> -->

</head>
<body>
<div class="body_wrap bottom_0">
	<ul class="header clearfix ">
		<li class="left">首页</li>
		
		<li class="right">&nbsp;</li>
	</ul>
	<div class="header_bg"></div>
	<div class="main_msg">
		<img class="fj_bg" src="__IMG__/fj_bg.png" alt="">
		<div class="title">按时发生地方按时发生地方按时发生地方按时发生地方生地方按时发生地方生地方按时发生地方</div>
		<div class="subhead">撒飞洒地方阿斯顿飞发斯蒂芬阿斯顿飞</div>
	</div>
	<div class="next_pre_title" style="font-size:14px;">预订</div>
	
	<ul class="next_pre hotel_oper hotel_detail">
		<li class="clearfix">
			<img class="left" src="__PUBLIC__/Home/test/aa.png" alt="">
			<div class="right">
				<div class="title">我是标题我是标题我是标题我是标题我是标题我是标题</div>
				<div class="subhead">描述</div>
				<div class="detail">
					<span><span class="fuhao">￥</span>99</span>
					<a>预&nbsp;订</a>
				</div>
			</div>
		</li>
		<li class="clearfix">
			<img class="left" src="__PUBLIC__/Home/test/aa.png" alt="">
			<div class="right">
				<div class="title">我是标题我是标题我是标题我是标题我是标题我是标题</div>
				<div class="subhead">描述</div>
				<div class="detail">
					<span><span class="fuhao">￥</span>99</span>
					<a>预&nbsp;订</a>
				</div>
			</div>
		</li>
		<li class="clearfix">
			<img class="left" src="__PUBLIC__/Home/test/aa.png" alt="">
			<div class="right">
				<div class="title">我是标题我是标题我是标题我是标题我是标题我是标题</div>
				<div class="subhead">描述</div>
				<div class="detail">
					<span><span class="fuhao">￥</span>99</span>
					<a>预&nbsp;订</a>
				</div>
			</div>
		</li>
	</ul>
</div>

</body>
</html>