<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
<title>门票信息</title>
<link rel="stylesheet" href="__CSS__/reset.css">
<link rel="stylesheet" href="__CSS__/shop.css">
<!-- <script src="__JS__/jquery.min.js"></script> -->

</head>
<body>
<div class="body_wrap bottom_0">
	<div class="head_img_wrap">
		<img class="fj_bg" src="__IMG__/fj_bg.png" alt="">
		<div class="head_img_name">景区民资景区民资景民资景民资景民资景民资景民资景民资景民资景区民资景区民资</div>
		<div class="head_img_name_bg"></div>
	</div>
	<ul class="main_msg">
		<li class="tit_w"><div class="tit">
			<span class="text" style="background-image:url(__IMG__msg_1.png)">价格日历</span>
		</div></li>
		
		<li class="body_w"></li>
		<li class="tit_w"><div class="tit">
			<span class="text" style="background-image:url(__IMG__msg_2.png)">基本信息</span>
		</div></li>
		
		<li class="body_w">
			<div class="body_d">产品编号：123</div>
			<div class="body_d">景点名称：撒发生的方法十大</div>
		</li>
		<li class="tit_w"><div class="tit">
			<span class="text" style="background-image:url(__IMG__msg_3.png)">产品描述</span>
		</div></li>
		
		<li class="body_w"></li>
		<li class="tit_w"><div class="tit">
			<span class="text" style="background-image:url(__IMG__msg_3.png)">预订须知</span>
		</div></li>
		
		<li class="body_w"></li>
		<li class="tit_w"><div class="tit">
			<span class="text" style="background-image:url(__IMG__msg_5.png)">费用包含</span>
		</div></li>
		
		<li class="body_w"></li>
		
	</ul>
</div>

</body>
</html>