<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
<title>酒店查找</title>
<link rel="stylesheet" href="__CSS__/reset.css">
<link rel="stylesheet" href="__CSS__/shop.css">
<!-- <script src="__JS__/jquery.min.js"></script> -->

</head>
<body>
<div class="body_wrap">
	<ul class="header clearfix header_2">
		<li class="left">首页</li>
		<li class="center" >票务查询</li>
	</ul>
	<div class="header_height"></div>
	<div style="height:45px;"></div>
	<div class="det_time" >
		<form class="form" style="border-radius:5px;">
			<input type="text" placeholder="景区名/城市/关键词">
			<div class="sea_but"><img src="__IMG__fd_2x.png" alt="" width="25px"></div>
		</form>
	</div>
	<table class="search_tb" style="margin-top:0;">
		<tr>
			<th>城市</th>
			<td>
				<select>
					<option>北京</option>
					<option>北京</option>
					<option>北京</option>
				</select>
			</td>
			<td class="td_bg"></td>
		</tr>
		
		<tr>
			<th>价格</th>
			<td>
				<input type="text" placeholder="不限价格">
			</td>
			<td class="td_bg"></td>
		</tr>
		<tr>
			<td colspan="3">
				<input type="submit" value="查找酒店" class="submit">
			</td>
		</tr>
	</table>
	<div class="pro_list_2_title">热门景点</div>
	<ul class="pro_list_2 clearfix pro_list_2_border">
		<li>
			<img src="__PUBLIC__/Home/test/cc.png">
			<div class="title">撒地方看见阿斯顿飞发阿萨德飞飞奥斯卡交电话费</div>
			<div class="price">￥<span class="num_price">99.9</span></div>
		</li>
		<li>
			<img src="__PUBLIC__/Home/test/cc.png">
			<div class="title">撒地方看见阿斯顿飞发阿萨德飞飞奥斯卡交电话费</div>
			<div class="price">￥<span class="num_price">99.9</span></div>
		</li>
		<li>
			<img src="__PUBLIC__/Home/test/cc.png">
			<div class="title">撒地方看见阿斯顿飞发阿萨德飞飞奥斯卡交电话费</div>
			<div class="price">￥<span class="num_price">99.9</span></div>
		</li>
		<li>
			<img src="__PUBLIC__/Home/test/cc.png">
			<div class="title">撒地方看见阿斯顿飞发阿萨德飞飞奥斯卡交电话费</div>
			<div class="price">￥<span class="num_price">99.9</span></div>
		</li>
		<li>
			<img src="__PUBLIC__/Home/test/cc.png">
			<div class="title">撒地方看见阿斯顿飞发阿萨德飞飞奥斯卡交电话费</div>
			<div class="price">￥<span class="num_price">99.9</span></div>
		</li>
	</ul>
	
</div>

</body>
</html>