<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
<title>产品列表</title>
<link rel="stylesheet" href="__CSS__reset.css">
<link rel="stylesheet" href="__CSS__shop.css">
<!-- <script src="__JS__/jquery.min.js"></script> -->

</head>
<body>
<div class="body_wrap bottom_0">
	<ul class="header clearfix header_2">
		<li class="left" onclick="history.go(-1)">返回</li>
		
		<li class="right" onclick="$('.list_menu,#zhezhao').show()">&nbsp;</li>
	</ul>
	<div class="header_height"></div>
	<div style="height:45px;"></div>
	<ul id="hotel_oper" class="next_pre hotel_oper">
		<!-- <li class="clearfix">
			<img class="left" src="__PUBLIC__/Home/test/aa.png" alt="">
			<div class="right">
				<div class="title">我是标题我是标题我是标题我是标题我是标题我是标题</div>
				<div class="subhead">描述</div>
				<div class="detail">
					<span><span class="fuhao">￥</span>99</span>
					<a>查看详情</a>
				</div>
			</div>
		</li> -->
		<foreach name="list" item="v">
		<li class="clearfix" onclick="location.href='__URL__/detail/id/{$v.id}'">
			<img class="left" src="__ROOT__/Uploads/{$v.log_images}" alt="">
			<div class="right">
				<div class="title">{$v.log_name}</div>
				<div class="subhead">{$v.log_describe}</div>
				<div class="detail">
					<span class="pri"><span class="fuhao">￥</span>{$v.price}</span>
					<a>查看详情</a>
				</div>
			</div>
		</li>
		</foreach>
		
	</ul>
	
</div>
<include file="Public/menu"/>
<script src="__JS__jquery.min.js"></script>
<script src="__JS__shop.js"></script>
<script>
	pageLoad('__ACTION__/ajax/ajax','hotel_oper')
</script>
</body>
</html>